*{
    margin:0px;
    padding: 0PX;
    
}
body{
    background-image: url(eagle.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    font-family: sans-serif;
}
h1{
    font-size: 40px;
    margin-top: 250px !important; 
}
p{
    font-size:17px;
}
h3{
    font-size: 25px !important;
}
.glyphicon-pencil {
    font-size: 30px;
    float: right;
    margin-top: 20px;
}

img {
    position: absolute;
    left:100px;
    top:10px;
}


.col-md-5{
    margin-top:40px;
    /* box-shadow: -1px 1px 60px 10px #7628a9; */
    background:#ecc6ec ;
}
.label { 
    font-weight: normal !important;
    margin-top: 15px !important;
    color:black !important;
    font-size: 19px !important;
}
.form-control {
    background: transparent;
    border-radius: 0px;
    border:0px;
    border-bottom: 1px solid white;
    font-size: 18px;
    margin-top: 15px;
    height: 40px;
    color:white;
}

.checkbox , .md-form {
    font-size: 19px;
    font-weight: normal;
    color:black;
    margin-top: 5px !important;
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 10px !important;
    margin-left: 193px;
    
}